body {
    background-image: url("fon1.jpg");
    /*background-position: fixed;*/
    background-attachment:fixed;
    background-size: 100%;
    background-size: cover;  
    background-repeat: no-repeat;


}
div{
    background-color: #ffffff;
    opacity: 60%;
    background-repeat: no-repeat;
    /*background-position: fixed;
    background-position: center center;*/
    font-family: 'Lobster', sans-serif;;
    width: 500px;
    text-align: center;
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
}
