body {
    background-image: url("fon1.jpg");
    background-position: fixed;
    background-size: 100%;
    background-repeat: no-repeat;


}
div{
    background-color: #ffffff;
    opacity: 60%;
    background-repeat: no-repeat;
    background-position: fixed;
    background-position: center center;

}